@font-face {
    font-family: 'ALK Life';
    src: url('../fonts/alk-life-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/alk-life-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/alk-life-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/alk-life-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/alk-life-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/alk-life-webfont.svg#alk_liferegular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-font1/Lato-Bold.eot');
    src: url('../fonts/lato-font1/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato-font1/Lato-Bold.woff2') format('woff2'),
        url('../fonts/lato-font1/Lato-Bold.woff') format('woff'),
        url('../fonts/lato-font1/Lato-Bold.ttf') format('truetype'),
        url('../fonts/lato-font1/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
